{% raw %}=={{int:filedesc}}==
{{BHL
 | collection = {{ collection }}
 | source = {{ source }}
 | description = {{ description }}
 | pageid = {{ pageid }}
 | itemid = {{ itemid }}
 | titleid = {{ titleid }}
 | pagenumbers = {{ pagenumbers }}
 | pagetypes = {{ pagetypes }}
 | volume = {{ volume }}
 | pageurl = {{ pageurl }}
 | date = {{ date }}
 | DOI = {{ doi }}
 | author = {{ author }}
 | permissions = {{ permissions }}
 | other_fields = {{ other_fields }}
}}
=={{int:license-header}}==
{{ license }}

[[Category:Files from the Biodiversity Heritage Library]]
{% endraw %}
